.header {
    background-color: #e0e0e0;
}

.main {
    background-color: #fff8e3;
}

.main-item {
    background-color: #feeab9;
}

.aside {
    background-color: #ddeccb;
}

.footer {
    background-color: #e0e0e0;
}

.footer-item {
    background-color: #fafafa;
}